<div> 
  	<div >
  		<a href="">
	  		<div id="submitLogo"><img src="/assets/images/logo.png">
	  		</div>
	  	</a>
  		<div>
			Sign up for free and experience Suggenda today! {{message}}
		</div>

	   
<form (submit)="signup()">
  <input [(ngModel)]="newName" name="newName">
  <button type="submit">signup</button>
</form>

        <div>
          <div >
            <form (submit)="signup()" name="signup" novalidate>
              

              <div>
                <input [(ngModel)]="firstName" type="text" name="firstName" required>
              </div>
              
              <div>
                <input [(ngModel)]="lastName" type="text" name="lastName" required>
              </div>

              <div>
                 <input [(ngModel)]="email" type="text" name="email" required>
              </div>
              
              <div>
                 <input [(ngModel)]="password" type="text" name="password" required>
              </div>
          
              <div>
                <div>
                 <input [(ngModel)]="termsAgreement" type="checkbox" name="termsAgreement" required>
                </div>
              </div>
              
            <div>
              By clicking this, you agree to the <a href=""> terms of conditions.</a>
            </div>       
            
              <button type="submit">
                signup
            </button>
        
            
            <div>
              <p>Already have an account? <a href="">Login</a></p>
            </div>
          </form>
        </div>
      </div>

</div>
</div>
